<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Technologies';">
    <div class="col-lg-12" ng-controller="EpitomeTechtypesCtrl">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">Tech Types</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle material-icons">expand_more</i>
                        <!-- <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i> -->
                        <!-- <i class="box_close material-icons">close</i> -->
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                            <!-- <span editable-text="head.id" e-name="id" e-form="headerform">
                                    {{ head.id || 'empty' }}
                             </span> -->
                             <p>Selected: {{techTypesObject.selected}}</p> 
                            <button type="button" class="btn btn-xs btn-info" >
                              <i class="material-icons" style="font-size:14px;">delete</i>
                            </button>
                            <ui-select ng-model="techTypesObject.selected" theme="bootstrap" ng-disabled="disabled" style="width: 200px;" title="Choose a Tech TYpe">
                                <ui-select-match placeholder="Select or search a Tech Type in the list..."> {{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="techTypesObject in techTypes | filter: $select.search">
                                  <!-- <span ng-bind-html="techType.id | highlight: $select.search"></span> -->
                                  <small ng-bind-html="techTypesObject.name | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                            <br />
                            <br />
                    </div>
                    <div class="row">
                        <uib-tabset justified="true" class="tab-container primary">
                        <uib-tab ng-repeat="section in sections">
                                <uib-tab-heading>
                                    <!-- <i class="fa fa-{{tab.icon}}"></i> --> {{section.smallname}}
                                </uib-tab-heading>
                        <!-- <div class="col-md-12 col-sm-12 col-xs-12 table-responsive"> -->
                            <!-- <div ng-repeat="section in sections"> -->
                                    <div ng-if="section.type != 'projects'">
                                        <h4 class="title pull-left">{{section.name}}</h4>
                                        <table class="table table-bordered table-hover bg-white-only">
                                            <tr style="font-weight: bold">
                                                <td style="width:2%">ID</td>
                                                <td style="width:51%">Descripation</td>
                                                <td style="width:10%"></td>
                                                <td style="width:2%"><input type="checkbox" ng-click="myClickAll()"></td>
                                            </tr>
                                            <tr ng-repeat="head in headers">
                                                <td class="v-middle">
                                                    <!-- editable username (text with validation) -->
                                                    <span editable-text="head.id" e-name="id" e-form="headerform">
                                                            {{ head.id || 'empty' }}
                                                    </span>
                                                </td>
                                                <td class="v-middle">
                                                    <!-- editable status (select-local) -->
                                                    <span editable-textarea="head.name" e-name="name" e-form="headerform" e-cols="60"  e-rows="4">
                                                      {{ head.name || 'empty' }}
                                                    </span>
                                                </td>
                                                <td style="white-space: nowrap">
                                                    <!-- form -->
                                                    <form editable-form name="headerform" onbeforesave="saveHeader($data, head.id)" ng-show="headerform.$visible" class="form-buttons form-inline" shown="insertedHead == head">
                                                        <button type="submit" ng-disabled="headerform.$waiting" class="btn btn-xs btn-info">
                                                          <i class="material-icons" style="font-size:14px;">save</i>
                                                        </button> 
                                                        <button type="button" ng-disabled="headerform.$waiting" ng-click="headerform.$cancel()" class="btn btn-xs btn-default">
                                                          <i class="material-icons" style="font-size:14px;">cancel</i>
                                                        </button>
                                                    </form>
                                                    <div class="buttons" ng-show="!headerform.$visible">
                                                        <button type="button" class="btn btn-xs btn-info"  ng-click="headerform.$show()">
                                                          <i class="material-icons" style="font-size:14px;">visibility</i>
                                                        </button>
                                                        <button type="button" class="btn btn-xs btn-info"  ng-click="removeSingleHeader($index)">
                                                          <i class="material-icons" style="font-size:14px;">delete</i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td style="white-space: nowrap">
                                                <input type="checkbox" ng-model="head.check" ng-click="myClick(head.id)">
                                                </td>
                                            </tr>
                                        </table>
                                        <button class="btn btn-primary btn-sm" ng-click="addSingleHeader()">Add row</button>
                                    </div> 
                                    </uib-tab>   
                                    <!-- <div ng-if="section.type == 'projects'"> -->
                                     <uib-tab ng-repeat="project in projects">
                                        <uib-tab-heading>
                                            <!-- <i class="fa fa-{{tab.icon}}"></i> --> {{project.smallname}}
                                        </uib-tab-heading>
                                            <!-- <h4 class="title pull-left">{{project.name}}</h4> -->
                                            <!-- <br /> -->
                                            <div>
                                                <h4 class="title pull-left">{{project.name}}</h4>
                                                <table class="table table-bordered table-hover bg-white-only">
                                                    <tr style="font-weight: bold">
                                                        <td style="width:2%">ID</td>
                                                        <td style="width:51%">Descripation</td>
                                                        <td style="width:10%"></td>
                                                        <td style="width:2%"><input type="checkbox" ng-click="myClickAll()"></td>
                                                    </tr>
                                                    <tr ng-repeat="head in headers">
                                                        <td class="v-middle">
                                                            <!-- editable username (text with validation) -->
                                                            <span editable-text="head.id" e-name="id" e-form="headerform">
                                                                    {{ head.id || 'empty' }}
                                                            </span>
                                                        </td>
                                                        <td class="v-middle">
                                                            <!-- editable status (select-local) -->
                                                            <span editable-textarea="head.name" e-name="name" e-form="headerform" e-cols="60"  e-rows="4">
                                                              {{ head.name || 'empty' }}
                                                            </span>
                                                        </td>
                                                        <td style="white-space: nowrap">
                                                            <!-- form -->
                                                            <form editable-form name="headerform" onbeforesave="saveHeader($data, head.id)" ng-show="headerform.$visible" class="form-buttons form-inline" shown="insertedHead == head">
                                                                <button type="submit" ng-disabled="headerform.$waiting" class="btn btn-xs btn-info">
                                                                  <i class="material-icons" style="font-size:14px;">save</i>
                                                                </button> 
                                                                <button type="button" ng-disabled="headerform.$waiting" ng-click="headerform.$cancel()" class="btn btn-xs btn-default">
                                                                  <i class="material-icons" style="font-size:14px;">cancel</i>
                                                                </button>
                                                            </form>
                                                            <div class="buttons" ng-show="!headerform.$visible">
                                                                <button type="button" class="btn btn-xs btn-info"  ng-click="headerform.$show()">
                                                                  <i class="material-icons" style="font-size:14px;">visibility</i>
                                                                </button>
                                                                <button type="button" class="btn btn-xs btn-info"  ng-click="removeSingleHeader($index)">
                                                                  <i class="material-icons" style="font-size:14px;">delete</i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                        <td style="white-space: nowrap">
                                                        <input type="checkbox" ng-model="head.check" ng-click="myClick(head.id)">
                                                        </td>
                                                    </tr>
                                                </table>
                                                <button class="btn btn-primary btn-sm" ng-click="addSingleHeader()">Add row</button>
                                            <!-- </div>     -->
                                        </div>    
                                    <!-- </div>    -->
                                <!-- </div>      -->
                                </uib-tab>
                                </uib-tabset>
                        </div>
                    </div>
            </section>
        </div>    
    </div>
