<!-- list -->
<ul class="wraplist wrapper-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard" class="nosub">
            <i class="material-icons">dashboard</i>
            <span class="title">Dashboard</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.epitome.domain" class="nosub">
            <i class="material-icons">domain</i>
            <span class="title">Domain</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.epitome.techtypes" class="nosub">
            <i class="material-icons">build</i>
            <span class="title">Technologies</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.template.manager" class="nosub">
            <i class="material-icons">speaker_notes</i>
            <span class="title">Template Manager</span>
        </a>
    </li>
</ul>
<!-- / list -->
